.hidden {
   opacity: 0; /* Initially hide the div */
   height: 0%;
   transition: opacity 0.5s ease-in-out; /* Add transition effect */
 }

 /* CSS for the div when it's visible */
.hidden.show {
   opacity: 1;
   height:100%;
 }

.header h2 {
   margin: 0px 0 10px 0;
}


.header {
   padding-top: 15px;
   padding-left: 15px;
   padding-right:15px;
   padding-bottom: 20px;
}

.header p {
   font-size: 12pt;
}


body {
   margin: 0;
   padding: 0;
   background-color: #fff;
   color: #333;
   word-wrap: break-word;
   font-size:14pt;
}

li {
   font-size:12pt;
}

a {
   text-decoration: none;
}

a:hover {
   text-decoration: wavy underline;
}

img {
   width: 100%;
}

button {
   margin-bottom:20px;
}

pre {
   overflow-x: auto;
   font-family: serif;
}

@media (max-width: 660px) {
   body {
      font-size:12pt;
      overflow-x: scroll;
   }

   
}