.hidden {
   opacity: 0; /* Initially hide the div */
   padding: 10px;
   margin-top: 10px;
   transition: opacity 0.5s ease-in-out; /* Add transition effect */
 }

 /* CSS for the div when it's visible */
.hidden.show {
   opacity: 1;
 }

.header h2 {
   margin: 0px 0 10px 0;
}

strong {
   font-weight: medium;
}

.header {
   padding-top: 15px;
   padding-left: 15px;
   padding-right:15px;
   padding-bottom: 20px;
}

.header p {
   font-size: 12pt;
}


body {
   margin: 0;
   padding: 0;
   background-color: #FFF6DB;
   color: #755A00;
   font-family: monospace;
   word-wrap: break-word;
   font-size:16pt;
}

li {
   font-size:12pt;
}

a {
   text-decoration: none;
}

a:hover {
   text-decoration: wavy underline;
}

img {
   width: 100%;
}

pre {
   overflow-x: scroll;
}


@media (max-width: 660px) {
   body {
      font-size:12pt;
      overflow-x: scroll;
   }

   
}